<div class="categories">
                    <div class="categories_block-left">
                        <div class="categories__item yellow">
                            <p>Трудимся, ради вашего комфорта</p>
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="categories_block-right">
                        <div class="categories__row">
                            <div class="categories__item green"></div>
                            <div class="categories__item purpule"></div>
                        </div>
                        <div class="categories__row">
                            <div class="categories__item red"></div>
                            <div class="categories__item blue"></div>
                        </div>
                    </div>
</div>