<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close"></span>
        <h2 class="modal__title">Добавить товар</h2>

        <!--add product form-->
        <form class="modal__form" method="post" action="/admin/categories/create" enctype="multipart/form-data">

            <div class="form-group">
                <label for="">Имя категории</label>
                <input type="text" name="title" placeholder="Введите имя" value="">
            </div>

            <button>Добавить</button>
        </form>
    </div>
</div>