<nav class="header__menu">
    <ul class="header__list">
        <% if (isLogin) { %>
            <li><a href="#" class="header__link cart">Корзина</a></li>
            <li><a href="#" class="header__link orders">Заказы</a></li>
            <li><a href="#" class="header__link favorites">Избранное</a></li>
            <li><a href="/user/logout" class="header__link profile">Выйти</a></li>
        <% } else { %>
            <li><a href="/user/login" class="header__link profile">Вход</a></li>
        <% } %>
    </ul>
</nav>
<div class="header__burger">
    <span></span>
</div>