<form action="/products/search" method="post" class="header__search">
    <input placeholder="Поиск" name="search" type="header__search-text" value="<%= search %>">
    <button type="submit"></button>
</form>