<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/auth/vendor/bootstrap/css/bootstrap.min.css">
    <!-- icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- main font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/index/css/index.css">
    <link rel="stylesheet" type="text/css" href="/cart/css/cart.css">
    <title>Корзина</title>
</head>

<body>
<div class="wrapper">
    <%-include ("../partials/header.ejs")%>

    <main class="main">
        <div class="main__wrapper">
            <div class="container pb-5 mb-2 mt-5">

                <% if (products == "") {%>
                    <h1 class="h1 mb-5">Корзина пуста</h1>
                <%} else { %>
                        <%-include ("../partials/cart_item.ejs")%>
                <% }%>

                <!-- Coupon + Subtotal-->
                <div class="d-sm-flex justify-content-between align-items-center text-center text-sm-left">
                    <form class="form-inline py-2">
                        <label class="sr-only">Coupon code</label>
                        <input class="form-control form-control-sm my-2 mr-3" type="text" placeholder="Введите купон">
                        <button class="btn btn-style-1 btn-secondary btn-sm my-2 mx-auto mx-sm-0" type="submit">Активировать купон</button>
                    </form>
                    <div class="py-2"><span class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase mr-2">Общая стоимость</span><span class="d-inline-block align-middle text-xl font-weight-medium"><%-total%> Р</span></div>
                </div>
                <!-- Buttons-->
                <hr class="my-2">
                <div class="row pt-3 pb-5 mb-2">
                    <div class="col-sm-6 mb-3"><a class="btn btn-style-1 btn-secondary btn-block" href="/cart/clear"><i class="fe-icon-refresh-ccw"></i>Очистить корзину</a></div>
                    <div class="col-sm-6 mb-3"><a class="btn btn-style-1 btn-primary btn-block" href="checkout-address.html"><i class="fe-icon-credit-card"></i>Оплатить заказ</a></div>
                </div>
            </div>

        </div>
    </main>

    <%- include ("../partials/footer.ejs") %>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/auth/vendor/bootstrap/js/popper.js"></script>
<script src="/auth/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>